<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <!-- Stylesheet link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Notebook: {% block title %}{% endblock %}</title>
</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://thumbs.dreamstime.com/b/cute-cartoon-sketchbook-photos-doodle-image-logo-hand-drawn-notebook-media-highlights-graphic-symbol-icon-187622232.jpg"
                 alt="" width="30" height="24" class="d-inline-block align-top">
            Notebook
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if session.user_id %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/notes">Notes</a></li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/notes/add-note">New Note</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Flash message display -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<header>
    <div class="alert alert-primary border text-center" role="alert">
        {{ messages[0] }}
    </div>
</header>
{% endif %}
{% endwith %}

<!-- Main content block -->
<main class="container p-5">
    {% block main %}{% endblock %}
</main>

<!-- Bootstrap JS bundle for functionality -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<!-- If any pages require additional JavaScript, use this block -->
{% block script %}{% endblock %}
</body>
</html>
