{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form id="register-form" action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control c" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input id="password" autocomplete="off" autofocus class="form-control c" name="password" placeholder="Password" type="password" onchange="check()">
    </div>
    <div class="form-group">
        <input id="confirm" autocomplete="off" autofocus class="form-control c" name="confirmation" placeholder="Confirmation" type="password">
    </div>
    <button id="submit" class="btn btn-dark" type="submit">Register</button>
</form>
{% endblock %}
